.slider.fullscreen
  %ul.slides
    - @posts.each do |post| 
      %li
        %img{:src => "#{post.header_image}"}/
        / random image
        .caption.right-align
          %h3.white-text= post.title
          %h5.light.grey-text.text-lighten-3= truncate post.body, length: 70
          = link_to "Read More" , blogr_post_path(post.id) , class: "btn waves-effect white grey-text darken-text-2"
          // %a.btn.waves-effect.white.grey-text.darken-text-2{:href => "/blogr/posts/#{post.id}"} Read More
    %li
      %img{:src => "https://placeimg.com/640/480/sepia"}/
      / random image
      .caption.left-align
        %h3.white-text Left Aligned Caption
        %h5.light.grey-text.text-lighten-3 Here's our small slogan.
    %li
      %img{:src => "https://placeimg.com/640/480/arch"}/
      / random image
      .caption.right-align
        %h3 Right Aligned Caption
        %h5.light.grey-text.text-lighten-3 Here's our small slogan.
.buysellads.buysellads-demo.hide-on-small-only
  %a.close{:href => "#!"}
    %i.material-icons close
  / CarbonAds Zone Code
  