.tab-content
  #top_stories.tab-pane.fade.show.active{:role => "tabpanel"}
    = render 'blogr/posts/blog_posts'
  #staff_pick.tab-pane.fade{:role => "tabpanel"}
    = render 'blogr/posts/blog_posts'
  #bookmarks.tab-pane.fade{:role => "tabpanel"}
    = render 'blogr/posts/blog_posts'
  #messages.tab-pane.fade{:role => "tabpanel"}
    = render 'blogr/posts/blog_posts'
  #settings.tab-pane.fade{:role => "tabpanel"} 
    = render 'blogr/posts/blog_posts'
     
     
   
         