.container-fluid
  .row
    .col-md-8
      .navbar.navbar-default.navbar-fixed-bottom
        .container
          .row
            .col-md-5
              .container
                .nav.justify-content-start.nav-pills.nav-fill.list-inline
                  %h2.font-italic
                    TYI - The Young Independent
               
            .col-md-3.offset-md-3
              %ul.nav.justify-content-end.nav-pills.nav-fill.list-inline{:role => "tablist"}
                
               
                - if user_signed_in?
                  - if current_user.editors_role?
                    %li.nav-item.list-inline-item= link_to_posts 'Drafts', :index
                    %li.nav-item.list-inline-item= link_to_posts 'Public', :public
                    %li.nav-item.list-inline-item= link_to 'Write a post', new_blogr_post_path, class: "nav-link list-inline-item"
                  
                  %li.nav-item.list-inline-item
                    %a.nav-link{"data-toggle" => "pill", :href => "./#messages", :role => "tab"} Conversations
                  
                  %li.nav-item.list-inline-item
                    %a.nav-link{"data-toggle" => "pill", :href => "./#settings", :role => "tab"} @jkyony  
                - else
                  %li.nav-item.list-inline-item= link_to 'Sign in ' , new_user_session_path, class: "nav-link list-inline-item"
                  %li.nav-item.list-inline-item= link_to 'Register' , new_user_registration_path, class: "nav-link list-inline-item"
               
                  
              
               