%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text
        %p.grey-text.text-lighten-4
      .col.l4.offset-l2.s12
        %ul
          - if user_signed_in?
            - if current_user.editors_role?
              %li.right= link_to_posts 'Drafts', :index
              %li.right= link_to_posts 'Public', :public
              %li.right= link_to 'Write a post', new_blogr_post_path
            
            %li
              %a.right{:href => "/chatrooms"} Conversations
            
            %li= link_to "@#{current_user.email.split("@").first}" , edit_user_registration_path , class: 'right'
             
            
            %li= link_to 'Sign out', destroy_user_session_path, :method => :delete , class: "right"
          - else
            #sign_in
              %li= link_to 'Sign in' , new_user_session_path, class: "right"
              %li= link_to 'Register' , new_user_registration_path, class: "right"
                         
  .footer-copyright
    .container
      © 2014 Copyright Text
      %a.grey-text.text-lighten-4.right{:href => "#!"} More Links               