%nav.nav-extended.navbar-fixed
  .nav-wrapper
    = render 'layouts/logo_badge'
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a{:href => "/topstories/index"} Top Stories
      %li
        %a{:href => "/staffpick/index"} Staff Pick
      %li
        %a{:href => "/blogr/bookmarks"} Bookmarks
    %ul#mobile-demo.side-nav
      - @categories.each do |category| 
        %li
          %a{:href => "/blogr/categories/#{category.id}/posts"} #{category.name}
        %li
          %a{:href => "#"} Contact
        %li
          %a{:href => "https://twitter.com/maridlcrmn"} Follow me
     
  .nav-content
    %ul.tabs.tabs-transparent
      - @categories.each do |category| 
        %li.tab
          %a{:href => "/blogr/categories/#{category.id}/posts"} #{category.name}
     